html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #ca8f02;
}
.form-input,
.form-textarea {
  margin: 2rem 0;
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1.4rem;
}
.form label {
  background-color: #ffffff;
  padding: 0.5rem;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  font-size: 1.3rem;
}
.form-btn {
  font-size: 1.6rem;
}
section {
  padding: 10rem 0;
}
.section-header {
  text-align: center;
  margin: 2rem 0 10rem;
  font-weight: bold;
  font-size: 3.6rem;
}
.section-header h2 {
  font-weight: bold;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.6rem;
}
.section-header_light {
  color: #ffffff;
  margin-top: 0;
}
.main {
  background: #ffffff url(../img/bg-1.jpg) center center no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.45;
}
.main-subtitle {
  margin-bottom: 5rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-weight: bold;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.6rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.main-form small {
  display: block;
  font-size: 1.1rem;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 600;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.features-block p {
  font-size: 1.6rem;
  display: inline-block;
  width: 80%;
}
.features-img {
  height: 12rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: scaleY(-50%);
  z-index: 99;
  width: 3rem;
  height: 3rem;
  border: none;
}
.prev {
  background: url(../img/left-arrow.svg) center no-repeat;
  left: 0;
  background-size: 100%;
}
.next {
  background: url(../img/right-arrow.svg) center no-repeat;
  right: 0;
  background-size: 100%;
}
.price {
  background: #46b814 url(../img/bg-2.jpg) center;
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 2rem 4rem;
  min-height: 62rem;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  font-weight: bold;
  margin: 3rem 0;
}
.price-block img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 30rem;
}
.price-list {
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  padding: 0;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  margin-right: 1rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url(../img/check.png) no-repeat center;
  background-size: 60%;
  vertical-align: middle;
}
.price-tag {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: block;
}
.feedback {
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-slider {
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 5rem 6rem;
}
.feedback-slider-item p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  background-color: #ffffff;
  margin-top: 5rem;
  text-align: center;
  padding: 4rem 10rem;
}
.feedback-form h3 {
  font-weight: bold;
  font-size: 2rem;
}
.feedback-form label {
  margin-top: 2rem;
}
.feedback-btn {
  max-width: 40rem;
}
.feedback-text {
  position: relative;
  font-style: italic;
  padding: 1rem;
  margin-top: 2rem;
  border: 2px solid #46b814;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  left: 4rem;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.media {
  margin-top: 8rem;
}
.media-body span {
  font-size: 1.4rem;
}
.media-body h4 {
  font-weight: bold;
}
.fotorama img {
  width: 100%;
}
.scheme {
  background-color: #f5f5f5;
  text-align: center;
}
.scheme-block {
  min-height: 20rem;
  margin-bottom: 3rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-weight: bold;
}
.scheme-block p {
  font-size: 1.6rem;
}
.scheme-block img {
  margin-bottom: 2rem;
}
.problems {
  position: relative;
  background-color: #f5f5f5;
}
.problems-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30rem;
  margin-left: -18rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 34rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-weight: bold;
  font-size: 2.1rem;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  position: relative;
  padding-left: 3.5rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.problems-list ul li:before {
  content: '';
  width: 3rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/close.png) center no-repeat;
  background-size: 50%;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/check.png) center no-repeat;
  background-size: 60%;
}
.all-inclusive .media {
  min-height: 8rem;
  font-size: 1.3rem;
}
.all-inclusive .media h4 {
  font-weight: bold;
  font-size: 1.6rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}
.materials {
  background: #ffffff url(../img/feedback/feedback-bg.jpg);
}
.materials-slider {
  padding-top: 5rem;
}
.materials-link {
  color: #46b814;
  text-decoration-line: underline;
  font-size: 1.6rem;
}
.materials-link:hover {
  color: #2c730d;
}
.materials-offer {
  margin-top: 5rem;
  font-size: 1.6rem;
  text-align: center;
}
.materials img {
  display: block;
  margin: 3rem auto;
  width: 80%;
}
.tour {
  background: #ffffff url(../img/tour.png) center no-repeat;
  background-size: cover;
}
.tour-btn {
  font-size: 1.4rem;
  padding: 1rem 3rem;
}
.upsell {
  background: #286b0a;
}
.upsell-block {
  text-align: center;
  color: #ffffff;
  min-height: 35rem;
  font-size: 2rem;
}
.upsell-blocks {
  margin-top: 3rem;
}
.upsell-block img {
  display: inline-block;
  width: 100%;
  height: 20rem;
  max-width: 33rem;
  margin-bottom: 3rem;
}
.contacts {
  background: #ffffff url(../img/feedback/feedback-bg.jpg) center no-repeat;
  background-size: cover;
}
.contacts p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}
.contacts h2 {
  font-size: 2.6rem;
  font-weight: bold;
}
.contacts-link {
  display: inline-block;
  text-decoration: underline;
}
.contacts-form h2 {
  font-size: 1.9rem;
  margin-bottom: 3rem;
}
footer {
  padding: 4rem 0;
}
footer .footer-contacts {
  text-align: center;
  padding-top: 0.5rem;
}
footer .footer-contacts p {
  margin: 0;
  font-size: 1.6rem;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-content {
  min-width: 40rem;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 4rem 5rem;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-header {
  font-weight: bold;
  font-size: 2rem;
}
.popup p {
  font-size: 1.4rem;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-content {
    margin-top: 3rem;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
  .tour {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts {
    background-color: #f5f5f5;
  }
  footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    margin-top: 18rem;
  }
  .feedback-prev-btn {
    left: -4rem;
  }
  .feedback-next-btn {
    right: -4rem;
  }
}
